<div class="center jumbotron">
    <h1> Welcom to CaffeineJag Esl App </h1>
    <h2>
      This is the link to
      <a href="http://www.caffeinejag-esl.com">My working site</a>
      Home page and below are other pages to my working site
    </h2>

<%= link_to image_tag"20150618_163553-resized.jpg"%>

<!-- <div class="center jumbotron">
    <h1> Welcom to CaffeineJag Esl App </h1>
    <h2>
      This is the link to
      <a href="http://www.caffeinejag-esl.com">My working site</a>
      Home page and below are other pages to my working site
    </h2>

    <%= link_to "Sign up now!", sign_up_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag"20150618_163553-resized.jpg"%> -->
