<body class="body">
  <div class="center jumbotron">
    <h2>
      This is the link to
      <a href="http://www.caffeinejag-esl.com">My working site</a>
      Home page and below are other pages to my working site
      <%= link_to image_tag"20150618_163553-resized.jpg"%>
    </h2>
  </div>
</body>
