<footer class="footer">
  <nav>
    <ul>
      <li><a href="http://www.caffeinejag-esl.com/about">About me</a></li>
      <li><a href="http://www.caffeinejag-esl.com/contact">Contact me</a></li>
      <li><a href="http://www.caffeinejag-esl.com/lesson-plans">Lesson plans</a></li>
    </ul>
  </nav>
</footer>
