<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "caffeinejag esl app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, class: "btn btn-lg btn-primary" %></li>
        <li><%= link_to "Sign in", sign_in_path, class: "btn btn-lg btn-primary" %></li>
        <li><%= link_to "Sign up", sign_up_path, class: "btn btn-lg btn-primary" %></li>
      </ul>
    </nav>
  </div>
</header>
